<mat-toolbar color="primary" class="footer">
    <div class="footer-content">
      <div class="icon-buttons">
        <a mat-icon-button href="https://www.facebook.com" target="_blank" aria-label="Facebook">
          <mat-icon>facebook</mat-icon>
        </a>
        <a mat-icon-button href="mailto:info@example.com" target="_blank" aria-label="Dela">
          <mat-icon>share</mat-icon>
        </a>
        <a mat-icon-button href="mailto:info@example.com" aria-label="Email">
          <mat-icon>email</mat-icon>
        </a>
      </div>
      <div class="footer-text">
        &copy; 2024 Svenska universitetsförbundet
      </div>
    </div>
  </mat-toolbar>
  