::ng-deep .mat-tab-nav-bar {
    background-color: #3f51b5; // Byt ut bakgrundsfärgen för flikarna
  }
  
  ::ng-deep .mat-tab-link {
    color: white; // Färgen på fliktexten
    font-size: 18px; // Storleken på fliktexten
    margin: 0 12px; // Mellanrummet mellan flikarna
  }
  
  ::ng-deep .mat-tab-link.mat-tab-label-active {
    color: #ffeb3b; // Färgen på den aktiva fliken
    font-weight: bold; // Fet stil för den aktiva fliken
  }
  
  ::ng-deep .mat-tab-nav-bar .mat-ink-bar {
    background-color: #ffeb3b; // Färgen på ink-baren under den aktiva fliken
  }
  