<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel" id="test">
  <a mat-tab-link routerLink="/index" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    Startsidan<mat-icon>home</mat-icon>
  </a>
  <a mat-tab-link routerLink="/kurser" routerLinkActive #rlb="routerLinkActive" [active]="rlb.isActive">
    Kurser<mat-icon>school</mat-icon>
  </a>
  <a mat-tab-link routerLink="/ramschema" routerLinkActive #rlc="routerLinkActive" [active]="rlc.isActive">
    Ramschema<mat-icon>schedule</mat-icon>
  </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>



  
