#test {
  width: 60%;
  border-bottom: 3px;
  justify-content: center;
  margin: auto;
}

::ng-deep .mat-tab-link.mat-tab-label-active {
  border-bottom: 3px solid currentColor; /* Justera tjockleken efter behov */
}

