<h1 style="color: white;">INDEX TEST</h1>

<div id="ikoner">
  <p>Kurser.io</p><p>+</p>
  <div id="carouselWrapper">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let logo of logos; let i = index" [class.active]="i === 0">
          <img [src]="logo" class="d-block" alt="University Logo">
        </div>
      </div>
    </div>
  </div>
  <p>=</p>
  <mat-icon>favorite_outline</mat-icon>
</div>
<p class="intro">
  <b>Kurser.io</b> är resultatet av ett unikt samarbete mellan Sveriges ledande universitet. Plattformens syfte är att underlätta för nuvarande och blivande studenter att enkelt skapa och anpassa sitt ramschema. Med Kurser.io får du en översikt över alla kurser och kan snabbt planera din utbildning. Upptäck hur smidigt det är att navigera i ditt akademiska liv och få bästa möjliga start på dina studier med stöd från hela Sveriges akademiska värld.
</p>
